@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;1,300&display=swap');
@font-face {
    font-family: 'Alethia Pro';
    src: url('../fonts/Alethiaproregular.woff') format('woff'), url('../fonts/Alethiaproregular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alethia Pro';
    src: url('../fonts/Alethiaproitalic.woff') format('woff'), url('../fonts/Alethiaproitalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.btn {
    text-decoration: none;
    display: inline-block;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140.62%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 16px 14px;
    -webkit-transition: background-color .4s linear;
    -o-transition: background-color .4s linear;
    transition: background-color .4s linear;
}

.btn:hover {
    text-decoration: none;
    background-color: #B48956;
}

.btn:active {
    background-color: #476B7A;
}

input {
    outline: none;
}


/* header */

header {
    padding: 10px 0;
    border-bottom: 1px solid #B48956;
}

.header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.menu-item {
    margin-right: 40px;
}

.menu-item:last-child {
    margin-right: 0;
}

.menu-item a {
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 111.62%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
}

.social__list {
    padding: 20px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    right: 0;
    bottom: 0px;
    background-color: #476B7A;
}

.social__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 40px;
}

.social__item:last-child {
    margin-bottom: 0;
}

.social__item img {
    width: 30px;
    height: 30px;
}


/* footer */

.footer {
    position: relative;
    padding-top: 60px;
    background-color: #476B7A;
    padding-bottom: 20px;
}

.footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0 20px;
}

.footer__item a {
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140.62%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0 20px;
}

.footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.footer__privacy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0 35px;
}

.footer__privacy a {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 172.12%;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

.footer__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
}

.footer__text div,
.footer__text a {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 172.12%;
    color: #FFFFFF;
    text-decoration: none;
}