.category {
    margin-bottom: 290px;
}

.category__heading {
    font-family: 'Alethia Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 140.62%;
    text-transform: uppercase;
    color: #B48956;
    padding-bottom: 21px;
    margin: 0;
    margin-left: -20px;
}

.category__list {
    display: flex;
    flex-direction: column;
}

.category__item {
    transition: background-color .4s linear;
}

.category__item .prices__pricelist {
    padding-top: 135px;
}

.category__item .prices__priceitem:first-child {
    border-top: none;
}

.category__item .container {
    display: flex;
    position: relative;
    padding: 50px 0;
    border-top: 1px solid #B48956;
    transition: background-color .4s linear;
}

.category__item:last-child .container {
    border-bottom: 1px solid #B48956;
}

.category__item .category__img {
    display: flex;
    align-items: flex-start;
    margin-right: 30px;
    width: 258px;
}

.category__item .category__img img {
    object-fit: cover;
    display: block;
}

.category__counter {
    position: absolute;
    left: -70px;
    top: 160px;
    display: flex;
}

.category__number {
    font-family: 'Jost', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    position: relative;
}

.category__number:nth-child(1) {
    color: #000;
    text-shadow: 0px 0px 1px #000;
}

.category__number:nth-child(1)::after {
    font-family: 'Jost', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    position: relative;
    content: '/';
    color: #B48956;
    text-shadow: none;
}

.category__number:nth-child(2) {
    color: #B48956;
}

.category__title {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 10px;
    max-width: 545px;
}

.category__text {
    max-width: 545px;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 172.12%;
    color: #000000;
}

.category__flex {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.category__flex .accordion__content,
.category__flex .category__content {
    position: relative;
    left: -288px;
    margin-right: -288px;
}

.category__links {
    display: flex;
    align-items: center;
    margin-top: auto;
}

.category__link {
    background-color: #CAA172;
    margin-right: 30px;
}

.category__arr {
    cursor: pointer;
    position: absolute;
    right: 0;
    background-color: transparent;
    border: none;
    top: 50%;
    transform: translateY(calc(-50% - 10px));
    transition: transform .4s linear;
}

.category__links .border-btn {
    color: #CAA172;
    border-color: #CAA172;
    background-color: transparent;
}

.prices__pricelist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 50px;
}

.prices__priceitem:first-child {
    border-top: 1px solid #B48956;
}

.prices__priceitem {
    padding: 5px 0 3.85px;
    width: 550px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #B48956;
}

.prices__priceitem span:nth-child(1) {
    max-width: 400px;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 205%;
    letter-spacing: 0.155em;
    text-transform: uppercase;
    color: #000000;
}

.prices__priceitem span:nth-child(2) {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 226.5%;
    letter-spacing: 0.155em;
    text-transform: uppercase;
    padding-right: 45px;
}

.category__item.opend {
    background-color: #f0e7dd;
    border-top: 1px solid #B48956;
}

.category__item.opend .container {
    border: none;
}

.category__item.opend+.category__item {
    border-top: 1px solid #B48956;
}

.category__item.opend+.category__item .container {
    border-top: none;
}

.category__item.opend .category__arr {
    transform: translateY(calc(-50% + 10px)) rotate(180deg);
    top: auto;
    bottom: 70px;
}

.category__content {
    display: flex;
    flex-direction: column;
}

.category__content-block {
    margin-top: 170px;
    margin-bottom: 50px;
    border-top: 1px solid #B48956;
    border-bottom: 1px solid #B48956;
    display: flex;
    flex-direction: column;
}

.category__content-block li:not(.category__images):not(.procedure__flex li):not(.category__image) {
    padding-top: 10px;
}

.category__content-block li {
    border-top: 1px solid #B48956;
}

.category__content-block li:first-child {
    border-top: none;
}

.category__plus-flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0 30px;
}

.category__plus-list.fourth .category__plus {
    width: calc(25% - 30px);
}

.category__plus-list.tripple .category__plus {
    width: calc(33.3% - 30px);
}

.category__plus {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 80px;
}

.category__plus-heading {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 215.5%;
    letter-spacing: 0.155em;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 50px;
}

.category__plus-text {
    margin-top: 20px;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 172.12%;
    color: #000000;
}

.category__text-block .main-text__content {
    max-width: 545px;
}

.category__text-block {
    padding-bottom: 80px;
}

.category__images {
    display: flex;
    gap: 0 30px;
    padding: 30px 0;
}

.category__image {
    display: flex;
    padding: 30px 0;
}

.category__image img {
    display: block;
    width: calc(100% - 30px);
}

.category__images img {
    display: block;
    width: calc(50% - 15px);
}

.category__prices {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 80px;
}

.category__prices .prices__pricelist {
    padding-top: 25px;
    margin-bottom: 0;
}

.category__prices .prices__pricelist .prices__priceitem {
    border-top: none !important;
}

.category__ordered-list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.category__ordered-list ol,
.procedure__flex ol {
    width: 545px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.category__ordered-list li,
.procedure__flex ol li {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
    color: #000000;
    border: none;
}

.category__procedure {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.procedure__flex {
    width: 545px;
    display: flex;
    flex-direction: column;
}

.procedure__flex ol {
    width: calc(100% - 25px);
    margin-left: 25px;
    margin-bottom: 35px;
}

.procedure__flex ol li {
    line-height: 172.12%;
}

.procedure__flex ul {
    border-top: 1px solid #B48956;
}

.procedure__flex ul li {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top: none;
    border-bottom: 1px solid #B48956;
    padding: 10px 0;
}

.procedure__flex ul li span:nth-child(1) {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #B48956;
}

.procedure__flex ul li span:nth-child(2) {
    width: 242px;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}