.sale {
    margin-top: 160px;
    margin-bottom: 230px;
}

.sale__heading {
    max-width: 830px;
    font-family: 'Alethia Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 140.62%;
    text-transform: uppercase;
    color: #B48956;
    margin-bottom: 75px;
}

.sale__heading span {
    font-size: 45px;
}

.sale__list {
    display: flex;
    flex-wrap: wrap;
    gap: 120px 30px;
}

.sale__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 30px 45px;
    border: 1px solid #B48956;
    width: calc(50% - 15px);
}

.sale__item img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}

.sale__date {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 177.62%;
    text-align: center;
    letter-spacing: 0.205em;
    text-transform: uppercase;
    color: #B48956;
    margin-bottom: 10px;
}

.sale__title {
    font-family: 'Alethia Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
    color: #536E79;
    margin-bottom: 15px;
}

.sale__text {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 172.12%;
    text-align: center;
    color: #000000;
    margin-bottom: 40px;
}