@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Alethia Pro';
    src: url('../fonts/Alethiaproregular.woff') format('woff'), url('../fonts/Alethiaproregular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alethia Pro';
    src: url('../fonts/Alethiaproitalic.woff') format('woff'), url('../fonts/Alethiaproitalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-top: 75px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

.btn {
    text-decoration: none;
    display: inline-block;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140.62%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 16px 14px;
    transition: background-color .4s linear;
}

.btn:hover {
    text-decoration: none;
    background-color: #B48956;
}

.btn:active {
    background-color: #476B7A;
}

input,
select,
textarea {
    outline: none;
}

/* header */

header {
    padding: 10px 0;
    border-bottom: 1px solid #B48956;
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 75px;
}

body.admin-bar header {
    top: 32px;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
}

.menu-item {
    margin-right: 48px;
    border-bottom: 2px solid transparent;
    transition: 0.6s;
    padding: 5px 0;
}

.menu-item:last-child {
    margin-right: 0;
}

.menu-item a {
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 111.62%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
}

.social__list {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    bottom: 0px;
    background-color: #476B7A;
    z-index: 999;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.social__item:last-child {
    margin-bottom: 0;
}

.social__item img {
    width: 30px;
    height: 30px;
}


/* footer */

.footer {
    position: relative;
    padding-top: 60px;
    background-color: #476B7A;
    padding-bottom: 40px;
}

.footer__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer__list {
    display: flex;
    align-items: center;
    gap: 0 30px;
}

.footer__list .menu-item {
    margin-right: 0;
}

.footer__list a {
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140.62%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer__socials {
    display: flex;
    align-items: center;
    gap: 0 20px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer__privacy {
    display: flex;
    align-items: center;
    gap: 0 35px;
}

.footer__privacy a {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    line-height: 172.12%;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

.footer__text {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.footer__text div,
.footer__text a {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 172.12%;
    color: #FFFFFF;
    text-decoration: none;
}


.breadcrumbs {
    padding-top: 15px;
}

.breadcrumbs .container {
    padding: 0;
}

.breadcrumbs.spec {
    position: relative;
    margin-bottom: 145px;
}

.breadcrumbs__bg {
    position: absolute;
    z-index: 0;
    top: -15px;
    left: 15px;
    right: 15px;
    width: calc(100% - 30px);
    height: 334px;
    object-fit: cover;
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
    margin-bottom: 135px;
}

.breadcrumbs__heading {
    font-family: 'Alethia Pro', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 96px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #476B7A;
    margin: 0;
}

.breadcrumbs.spec .breadcrumbs__list {
    margin-bottom: 165px;
}

.breadcrumbs.spec .container {
    position: relative;
    z-index: 1;
}

.breadcrumbs__item {
    position: relative;
    margin-right: 20px;
}

.breadcrumbs__item::after {
    content: '-';
    position: absolute;
    top: 0;
    right: -11px;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 111.62%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #B48956;
}

.breadcrumbs__item:last-child {
    position: static;
    margin-right: 0;
}

.breadcrumbs__item:last-child::after {
    content: none;
}

.breadcrumbs__item,
.breadcrumbs__item a {
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 111.62%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #B48956;
}

.transp__btn-link {
    display: inline-block;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140.62%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px;
    padding-right: 145px;
    border: 1px solid #fff;
    background-color: transparent;
    -webkit-transition: background-color .4s linear;
    -o-transition: background-color .4s linear;
    transition: background-color .4s linear;
}

.yellow__btn-link {
    display: inline-block;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140.62%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px;
    padding-right: 145px;
    border: 1px solid #fff;
    background-color: #CAA172;
    -webkit-transition: background-color .4s linear;
    -o-transition: background-color .4s linear;
    transition: background-color .4s linear;
}

.yellow__btn-link:hover,
.transp__btn-link:hover {
    background-color: rgba(71, 107, 122, 0.8);
}

.yellow__btn-link:active,
.transp__btn-link:active {
    background-color: #476B7A;
}

.border-btn {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140.62%;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 3px;
    border-bottom: 1px solid;
    padding-right: 45px;
}

.accordion__content {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height .5s linear;
    -o-transition: max-height .5s linear;
    transition: max-height .5s linear;
}

.accordion__heading {
    cursor: pointer;
}

.services__inner-list {
    padding: 5px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 30px;
}

.services__inner-item {
    position: relative;
    padding-left: 30px;
    border-bottom: 1px solid transparent;
    -webkit-transition: border .4s linear;
    -o-transition: border .4s linear;
    transition: border .4s linear;
}

.services__inner-item span {
    position: absolute;
    left: 0;
    top: -1px;
    padding: 0 6px 0 5px;
    border: 1px solid #B48956;
    font-family: 'Jost', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 180.12%;
}

.services__inner-item a {
    font-family: 'Jost', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 180.12%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.services__inner-item:hover,
.services__inner-item.active {
    border-bottom: 1px solid #B48956;
}

.services__inner-item:hover a,
.services__inner-item.active a {
    text-shadow: 0 0 1px #000000;
}

.breadcrumbs.spec .services__inner-list {
    background-color: #fff;
    padding-top: 30px;
    margin-top: -13px;
    position: relative;
    z-index: 2;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 115px;
}

.breadcrumbs .services-img {
    margin: 0 auto;
    display: block;
}

.main-text__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.main-text__content {
    max-width: 550px;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 172.12%;
    color: #000000;
}

.main-text__content p {
    display: block;
    margin-bottom: 10px;
}

.main-text__content p:last-child {
    margin-bottom: 0;
}
    
.fixed-menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 75px;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
}

body.admin-bar .fixed-menu {
    top: 107px;
}

.fixed-menu.active {
    pointer-events: all;
    opacity: 1;
}

.header__item.active a:nth-child(1):not(.fixed-menu__list li a) {
    border-bottom: 2px solid #B48956;
}

.fixed-menu__bg {
    position: absolute;
    top: 0;
    margin-top: 26px;
    left: 0;
    right: 0;
    min-height: 100vh;
    background-color: rgba(83, 110, 121, 0.7);
    ;
}

.fixed-menu__block {
    position: relative;
    z-index: 5;
    background-color: #CAA172;
    padding: 45px 0;
}

.fixed-menu__list {
    display: flex;
    gap: 0 30px;
    align-items: flex-start;
    padding-bottom: 30px;
    border-bottom: 1px solid #B48956;
}

.fixed-menu__title {
    font-family: 'Alethia Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140.62%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #F9F9F9;
    margin-bottom: 15px;
}

.fixed-menu__list-sec {
    min-width: 400px;
}

.fixed-menu__list-sec li a {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 172.12%;
    color: #000000;
    border: none;
    text-decoration: none;
}

.fixed-menu__list-sec li {
    margin-bottom: 10px;
}

.fixed-menu__list-sec li:last-child {
    margin-bottom: 0;
}

.fixed-menu__wrap {
    display: flex;
    align-items: flex-start;
    gap: 0 15px;
}

.fixed-menu__wrap .fixed-menu__list-sec {
    min-width: 290px;
}

.fixed-wrap__help {
    padding-top: 25px;
}

.fixed-wrap__help span,
.fixed-wrap__help a {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 172.12%;
    color: #000000;
    text-decoration: none;
}

.fixed-wrap__help a {
    border-bottom: 1px solid #B48956;
}

.menu-item-services.active {
    border-bottom: 2px solid #B48956;
}