@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;1,300&display=swap');
@font-face {
    font-family: 'Alethia Pro';
    src: url('./fonts/Alethiaproregular.woff') format('woff'), url('fonts/Alethiaproregular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alethia Pro';
    src: url('./fonts/Alethiaproitalic.woff') format('woff'), url('fonts/Alethiaproitalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

.container {
    width: 100%;
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    overflow-x: hidden;
}

body {
    background-color: #fff;
}

input:focus,
input:focus-visible,
input:focus-within {
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.btn {
    text-decoration: none;
    display: inline-block;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140.62%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 16px 14px;
    transition: background-color .4s linear;
}

.btn:hover {
    text-decoration: none;
    background-color: #B48956;
}

.btn:active {
    background-color: #476B7A;
}


/* header */

header {
    padding: 10px 0;
    border-bottom: 1px solid #B48956;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__list {
    display: flex;
    align-items: center;
}

.header__item {
    margin-right: 40px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__item a {
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 111.62%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
}


/* main-slider */

.main-slider__btn {
    padding-right: 145px;
}

.main-slider__pagination {
    display: flex;
    align-items: center;
}

.main-slider {
    position: relative;
    margin-bottom: 22px;
}

.main-slider .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 1;
    min-height: 700px;
    padding: 60px 0 46px;
}

.main-slider__slider {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 15px;
    right: 15px;
    width: calc(100% - 30px);
    height: 100%;
}

.main-slider__slider .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-slider__pagination {
    position: static;
    margin-top: auto;
}

.main-slider__pagination .swiper-pagination-bullet {
    background-color: transparent;
    padding: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140.62%;
    text-align: center;
    color: #FFFFFF;
    border: none;
    opacity: 1;
    transition: border .4s linear;
}

.main-slider__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    border: 1px solid #fff;
}

.main-slider__title {
    display: block;
    font-family: 'Alethia Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 130.62%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 auto 100px;
}

.main-slider__heading {
    max-width: 400px;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140.62%;
    letter-spacing: 0.205em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 11px;
}

.main-slider__text {
    max-width: 400px;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 155.62%;
    letter-spacing: 0.015em;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.main-slider__next {
    position: absolute;
    z-index: 3;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    transition: opacity .4s linear;
}

.main-slider__prev {
    position: absolute;
    z-index: 3;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    transition: opacity .4s linear;
}

.main-slider__prev.swiper-button-disabled,
.main-slider__next.swiper-button-disabled {
    opacity: 0;
    cursor: auto !important;
}

.social__list {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: #476B7A;
    z-index: 100;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.social__item:last-child {
    margin-bottom: 0;
}

.social__item img {
    width: 30px;
    height: 30px;
}


/* main-text */

.main-text {
    padding: 105px 0 200px;
}

.main-text__wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.main-text__content {
    max-width: 550px;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 172.12%;
    color: #000000;
}

.main-text__content p {
    display: block;
    margin-bottom: 10px;
}

.main-text__content p:last-child {
    margin-bottom: 0;
}


/* servises */

.services {
    margin-bottom: 200px;
}

.services__list {
    position: relative;
    z-index: 2;
}

.services__wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-img {
    margin-bottom: 70px;
}

.services__heading {
    display: block;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140.62%;
    text-align: center;
    letter-spacing: 0.205em;
    text-transform: uppercase;
    color: #B48956;
    margin-bottom: 60px;
}

.services__decor-img img {
    transition: all .4s linear;
    position: relative;
}


/* accordion */

.accordion__content {
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s linear;
}

.accordion__heading {
    cursor: pointer;
}

.services .accordion__block .accordion__heading {
    text-align: center;
    font-family: 'Alethia Pro', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 96px;
    line-height: 140.62%;
    text-align: center;
    color: #B48956;
    transition: color .4s linear;
}

.services .accordion__block .accordion__heading:hover {
    color: #476B7A;
}

.services .accordion__block.opend .accordion__heading {
    color: #476B7A;
}

.services__inner-list {
    padding: 5px 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.services__inner-item {
    position: relative;
    padding-left: 30px;
    border-bottom: 1px solid transparent;
    transition: border .4s linear;
}

.services__inner-item span {
    position: absolute;
    left: 0;
    top: -1px;
    padding: 0 5px;
    border: 1px solid #B48956;
    font-family: 'Jost', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 180.12%;
}

.services__inner-item a {
    font-family: 'Jost', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 180.12%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.services__inner-item:hover {
    border-bottom: 1px solid #B48956;
}

.services__inner-item:hover a {
    font-weight: bold;
}

.services__decor-img {
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity .8s linear;
}


/* certificates */

.certificates {
    margin-bottom: 110px;
}

.certificates a img {
    transform: scaleX(.8);
    transition: transform .4s linear;
}

.certificates a {
    background-color: #B48956;
    padding: 38px 0 30px;
    text-decoration: none;
    font-family: 'Alethia Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140.62%;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: background-color .4s linear;
}

.certificates a:hover img {
    transform: scaleX(1);
}

.certificates a:active {
    background-color: #476B7A;
}

.certificates a span {
    padding-right: 40px;
}

.certificates .container {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* prices */

.prices {
    margin-bottom: 120px;
}

.prices__title {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-bottom: 145px;
}

.prices__title span:nth-child(1) {
    font-family: 'Alethia Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140.62%;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    transform: rotate(-90deg);
    padding: 0;
    margin: 0;
    position: absolute;
    top: calc(75% + 10px);
    left: -7.5%;
}

.prices__title span:nth-child(2) {
    font-family: 'Alethia Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 140.62%;
    text-transform: uppercase;
    color: #B48956;
    padding-left: 45px;
}

.price__list {
    display: flex;
    flex-direction: column;
}

.prices__item:first-child {
    border-top: 1px solid #B48956;
}

.prices__item {
    border-bottom: 1px solid #B48956;
    transition: background-color .4s linear;
}

.prices__item.opend {
    background-color: rgba(180, 137, 86, 0.2);
    ;
}

.prices .accordion__heading {
    position: relative;
    padding: 35px 0;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140.62%;
    letter-spacing: 0.155em;
    text-transform: uppercase;
    color: #000000;
}

.prices .accordion__heading::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    content: '';
    width: 19px;
    height: 1px;
    background-color: #B48956;
}

.prices .accordion__heading::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    right: 0;
    content: '';
    width: 19px;
    height: 1px;
    background-color: #B48956;
    transition: transform .4s linear;
}

.prices__item.opend .accordion__heading::after {
    transform: translateY(-50%);
}

.prices__pricelist {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 50px;
}

.prices__priceitem:first-child {
    border-top: 1px solid #B48956;
}

.prices__priceitem {
    padding-top: 10px;
    padding-bottom: 5px;
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #B48956;
}

.prices__priceitem span:nth-child(1) {
    max-width: 400px;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 205%;
    letter-spacing: 0.155em;
    text-transform: uppercase;
    color: #000000;
}

.prices__priceitem span:nth-child(2) {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 226.5%;
    letter-spacing: 0.155em;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.prices__btn {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0 0 40px;
}


/* area */

.area {
    position: relative;
    padding-top: 75px;
}

.area__wrap {
    padding: 100px 0 120px;
    background-color: #476B7A;
}

.area__svg {
    position: absolute;
    width: 100%;
    max-width: 100vw;
    height: 75px;
    left: 0;
    right: 0;
    top: 0px;
    z-index: 1;
    object-fit: cover;
}

.area__heading {
    margin-bottom: 40px;
}

.area__heading span:nth-child(1) {
    font-family: 'Alethia Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 95px;
    line-height: 140.62%;
    text-transform: uppercase;
    color: #B48956;
}

.area__heading span:nth-child(2) {
    font-family: 'Alethia Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 140.62%;
    text-transform: uppercase;
    color: #B48956;
}

.area__slider {
    margin: 0 auto;
    width: 830px;
    height: 520px;
    overflow: visible;
}

.area__slider .swiper-slide img {
    height: 100%;
    width: 100%;
}

.area__slider .swiper-slide {
    transform: scale(.7);
    transition: transform .4s linear;
}

.area__slider .swiper-slide.swiper-slide-active {
    transform: none;
}

.area__slider-wrap {
    max-width: 100vw;
    overflow: hidden;
}

.area__pagination {
    display: flex;
    gap: 0 10px;
    margin-top: 50px;
}

.area .swiper-pagination-bullet {
    opacity: 1;
    width: 6px;
    height: 6px;
    background-color: #B48956;
}

.area .swiper-pagination-bullet-active {
    transform: scale(2);
}

.area__slider .container {
    width: 1100px;
    max-width: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.area__slider .container .area-btn {
    cursor: pointer;
    transition: opacity .4s linear;
}

.area-btn.swiper-button-disabled {
    opacity: 0;
    cursor: auto !important;
}


/* your */

.your {
    background-image: url(./img/your.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0 125px;
}

.your .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.your__heading {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.your__heading span {
    display: inline-block;
    font-family: 'Alethia Pro', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 75px;
    line-height: 99.12%;
    text-align: center;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.your__heading span:nth-child(1),
.your__heading span:nth-child(3) {
    margin-left: auto;
}

.your__heading span:nth-child(2) {
    margin-right: auto;
}


/* specialists */

.specialists {
    padding: 100px 0;
    background-color: rgba(200, 152, 95, .9);
}

.specialists .container {
    position: relative;
}

.specialists__heading {
    margin-bottom: 10px;
}

.specialists__heading span {
    font-family: 'Alethia Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 140.62%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.specialists__heading span:nth-child(1) {
    padding-right: 20px;
}

.specialists__heading span:nth-child(2) {
    font-size: 75px;
}

.specialists__wrap {
    width: 100%;
    min-height: 340px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
}

.specialists__content {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: opacity .4s linear;
    pointer-events: none;
}

.specialists__title {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140.62%;
    letter-spacing: 0.205em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.specialists__text {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 172.12%;
    color: #FFFFFF;
}

.specialists__slider {
    overflow: visible;
    max-width: 700px;
    margin-right: auto;
    height: auto;
}

.specialists__slider .swiper-slide:not(.specialists__slider.swiper-slide:first-child) {
    display: flex;
    height: auto;
}

.specialists__slider .swiper-slide img {
    border-left: 1px solid #B48956;
    border-top: 1px solid #B48956;
    border-bottom: 1px solid #B48956;
    max-width: 343px;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.specialists__block {
    display: flex;
    min-width: 350px;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #B48956;
    padding: 40px 14px 40px 40px;
    position: relative;
    left: -300px;
    transition: left .4s linear;
}

.specialists__nav {
    position: absolute;
    z-index: 5;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity .4s linear;
}

.specialists__left {
    left: 15%;
}

.specialists__right {
    right: 25%;
}

.specialists__slider .swiper-slide.swiper-slide-active .specialists__block,
.specialists__slider .swiper-slide.swiper-slide-prev .specialists__block {
    left: 0;
}

.specialists__name {
    font-family: 'Alethia Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 161.62%;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #000000;
}

.specialists__profession {
    font-family: 'Alethia Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 155.13%;
    color: #B48956;
}

.specialists__story {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 172.12%;
    color: #000000;
}

.specialists__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.specialists__pagination {
    display: flex;
    align-items: center;
    gap: 0 20px;
}

.specialists__pagination .swiper-pagination-bullet {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    background-color: #fff;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140.62%;
    text-align: center;
    color: #FFFFFF;
    transition: all .4s linear;
}

.specialists__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 15px;
}

.specialists__btn-link {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140.62%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px;
    padding-right: 145px;
    border: 1px solid #fff;
}

.specialists__nav.swiper-button-disabled {
    opacity: 0;
}


/* blog */

.blog {
    padding: 100px 0;
    overflow-x: hidden;
}

.blog .container {
    position: relative;
}

.blog__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.blog__heading span {
    font-family: 'Alethia Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 140.62%;
    text-transform: uppercase;
    color: #B48956;
}

.blog__heading a {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140.62%;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
    color: #B48956;
    padding-bottom: 3px;
    border-bottom: 1px solid #B48956;
    padding-right: 45px;
}

.blog__slider {
    padding-right: 45px;
    overflow: visible;
}

.blog__slide {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    transform: translateY(60px) !important;
    transition: transform .4s linear;
    text-decoration: none;
}

.blog__slide.swiper-slide-active {
    transform: none !important;
}

.blog__item {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.blog__img {
    width: 100%;
    height: 275px;
    display: block;
    margin-bottom: 30px;
}

.blog__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog__link {
    font-family: 'Alethia Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: #B48956;
    text-decoration: none;
    margin-bottom: 30px;
}

.blog__text {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 172.12%;
    color: #000000;
    margin-top: auto;
}

.blog__btn {
    position: absolute;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.blog-prev {
    left: -175px;
}

.blog-next {
    right: -135px;
}

.blog__btn.swiper-button-disabled {
    opacity: 0;
    cursor: auto;
}


/* contacts */

.contacts {
    position: relative;
    border-top: 1px solid #B48956;
    border-bottom: 1px solid #B48956;
}

.contacts .container {
    display: flex;
}

.contacts__item {
    position: relative;
    border-right: 1px solid #B48956;
    padding: 100px 160px 100px 0;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contacts__heading {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.contacts__heading span:nth-child(1) {
    font-family: 'Alethia Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140.62%;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    transform: rotate(-90deg);
    padding: 0;
    margin: 0;
    position: absolute;
    top: calc(75% + 20px);
    left: -20%;
}

.contacts__heading span:nth-child(2) {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140.62%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #B48956;
}

.contacts__item a,
.contacts__item div,
.contacts__label span {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 172.12%;
    color: #000000;
    text-decoration: none;
}

.contacts__label span {
    padding-bottom: 5px;
}

.contacts__mail {
    padding-bottom: 25px;
}

.contacts__form {
    margin-top: 100px;
}

.contacts__label,
.contacts__form {
    display: flex;
    flex-direction: column;
}

.contacts__label {
    margin-bottom: 25px;
}

.contacts__label input {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140.62%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: 1px solid #B48956;
    min-height: 50px;
    padding: 15px 20px;
}

.form-submit {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140.62%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #B48956;
    padding: 15px 20px;
    border: 1px solid #B48956;
    background-color: transparent;
}

.contacts__map {
    position: absolute;
    top: 15px;
    left: calc(50% + 16px);
    right: 15px;
    bottom: 15px;
    overflow: hidden;
}

.contacts__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.contacts__btn {
    pointer-events: none;
    font-family: 'Alethia Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140.62%;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: transparent;
    z-index: 3;
    border: none;
    transform: rotate(-90deg);
    white-space: nowrap
}

.contacts__bg {
    cursor: pointer;
    z-index: 2;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 65px;
    background: #476B7A;
    display: flex;
    justify-content: center;
    transition: background-color .4s linear;
}

.contacts__bg.active {
    background-color: #B48956;
}

#contacts-map {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    transition: transform .5s linear;
}


/* footer */

.footer {
    position: relative;
    padding-top: 60px;
    background-color: #476B7A;
    padding-bottom: 20px;
}

.footer__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer__list {
    display: flex;
    align-items: center;
    gap: 0 20px;
}

.footer__item a {
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140.62%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer__socials {
    display: flex;
    align-items: center;
    gap: 0 20px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer__privacy {
    display: flex;
    align-items: center;
    gap: 0 35px;
}

.footer__privacy a {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 172.12%;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

.footer__text {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.footer__text div,
.footer__text a {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 172.12%;
    color: #FFFFFF;
    text-decoration: none;
}