@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;1,300&display=swap');

@font-face {
    font-family: 'Alethia Pro';
    src: url('./fonts/Alethiaproregular.woff') format('woff'), url('fonts/Alethiaproregular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alethia Pro';
    src: url('./fonts/Alethiaproitalic.woff') format('woff'), url('fonts/Alethiaproitalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.btn {
    text-decoration: none;
    display: inline-block;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140.62%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 16px 14px;
    transition: background-color .4s linear;
}

.btn:hover {
    text-decoration: none;
    background-color: #B48956;
}

.btn:active {
    background-color: #476B7A;
}

/* header */

header {
    padding: 10px 0;
    border-bottom: 1px solid #B48956;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__list {
    display: flex;
    align-items: center;
}

.header__item {
    margin-right: 40px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__item a {
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 111.62%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
}

/* main-slider */

.main-slider__btn {
    padding-right: 145px;
}

.main-slider__pagination {
    display: flex;
    align-items: center;
}

.main-slider {
    position: relative;
    margin-bottom: 22px;
}

.main-slider .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 1;
    min-height: 700px;
    padding: 60px 0 46px;
}

.main-slider__slider {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 15px;
    right: 15px;
    width: calc(100% - 30px);
    height: 100%;
}

.main-slider__slider .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-slider__pagination {
    position: static;
    margin-top: auto;
}

.main-slider__pagination .swiper-pagination-bullet {
    background-color: transparent;
    padding: 7px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140.62%;
    text-align: center;
    color: #FFFFFF;
    border: none;
    opacity: 1;
    transition: border .4s linear;
}

.main-slider__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    border: 1px solid #fff;
}

.main-slider__title {
    display: block;
    font-family: 'Alethia Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 130.62%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 auto 100px;
}

.main-slider__heading {
    max-width: 400px;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140.62%;
    letter-spacing: 0.205em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 11px;
}

.main-slider__text {
    max-width: 400px;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 155.62%;
    letter-spacing: 0.015em;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.main-slider__next {
    position: absolute;
    z-index: 3;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

.social__list {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: -7px;
    background-color: #476B7A;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.social__item:last-child {
    margin-bottom: 0;
}

.social__item img {
    width: 30px;
    height: 30px;
}

/* main-text */

.main-text {
    padding: 105px 0 200px;
}

.main-text__wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.main-text__content {
    max-width: 550px;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 172.12%;
    color: #000000;
}

.main-text__content p {
    display: block;
    margin-bottom: 10px;
}

.main-text__content p:last-child {
    margin-bottom: 0;
}

/* servises */

.services {
    margin-bottom: 200px;
}

.services__wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-img {
    margin-bottom: 70px;
}

.services__heading {
    display: block;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140.62%;
    text-align: center;
    letter-spacing: 0.205em;
    text-transform: uppercase;
    color: #B48956;
    margin-bottom: 60px;
}

/* accordion */

.accordion__content {
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s linear;
}

.accordion__heading {
    cursor: pointer;
}

.services .accordion__block .accordion__heading {
    text-align: center;
    font-family: 'Alethia Pro', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 96px;
    line-height: 140.62%;
    text-align: center;
    color: #B48956;
    transition: color .4s linear;
}

.services .accordion__block .accordion__heading:hover {
    color: #476B7A;
}

.services .accordion__block.opend .accordion__heading {
    color: #476B7A;
}

.services__inner-list {
    padding: 5px 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.services__inner-item {
    position: relative;
    padding-left: 30px;
    border-color: #B48956;
    transition: border .4s linear;
}

.services__inner-item span {
    position: absolute;
    left: 0;
    top: -1px;
    padding: 0 5px;
    border: 1px solid #B48956;
    font-family: 'Jost', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 180.12%;
}

.services__inner-item a {
    font-family: 'Jost', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 180.12%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.services__inner-item:hover {
    border-bottom: 1px solid #B48956;
}

.services__inner-item:hover a {
    font-weight: bold;
}

/* certificates */

.certificates {
    margin-bottom: 110px;
}

.certificates a img {
    transform: scaleX(.8);
    transition: transform .4s linear;
}

.certificates a {
    background-color: #B48956;
    padding: 38px 0 30px;
    text-decoration: none;
    font-family: 'Alethia Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140.62%;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: background-color .4s linear;
}

.certificates a:hover img {
    transform: scaleX(1);
}

.certificates a:active {
    background-color: #476B7A;
}

.certificates a span {
    padding-right: 40px;
}

.certificates .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* prices */

.prices {
    margin-bottom: 120px;
}

.prices__title {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-bottom: 145px;
}

.prices__title span:nth-child(1) {
    font-family: 'Alethia Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140.62%;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    transform: rotate(-90deg);
    padding: 0;
    margin: 0;
    position: absolute;
    top: calc(75% + 10px);
    left: -5%;
}

.prices__title span:nth-child(2) {
    font-family: 'Alethia Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 140.62%;
    text-transform: uppercase;
    color: #B48956;
    padding-left: 45px;
}

.price__list {
    display: flex;
    flex-direction: column;
}

.prices__item:first-child {
    border-top: 1px solid #B48956;
}

.prices__item {
    border-bottom: 1px solid #B48956;
    transition: background-color .4s linear;
}

.prices__item.opend {
    background-color: rgba(180, 137, 86, 0.2);;
}


.prices .accordion__heading {
    position: relative;
    padding: 35px 0;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140.62%;
    letter-spacing: 0.155em;
    text-transform: uppercase;
    color: #000000;
}

.prices .accordion__heading::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    content: '';
    width: 19px;
    height: 1px;
    background-color: #B48956;
}

.prices .accordion__heading::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    right: 0;
    content: '';
    width: 19px;
    height: 1px;
    background-color: #B48956;
    transition: transform .4s linear;
}

.prices__item.opend .accordion__heading::after {
    transform: translateY(-50%);
}

.prices__pricelist {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 50px;
}

.prices__priceitem:first-child {
    border-top: 1px solid #B48956;
}

.prices__priceitem {
    padding-top: 10px;
    padding-bottom: 5px;
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #B48956;
}

.prices__priceitem span:nth-child(1) {
    max-width: 400px;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 205%;
    letter-spacing: 0.155em;
    text-transform: uppercase;
    color: #000000;
}

.prices__priceitem span:nth-child(2) {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 226.5%;
    letter-spacing: 0.155em;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.prices__btn {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0 0 40px;
}